bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
/publish
publish.zip
BenchmarkDotNet.Artifacts/
RecipeShareWebApi/appsettings.Development.json
RecipeShareWebApi/appsettings.json
RecipeShareWebApi.sln.DotSettings
RecipeShareWebApi.sln.DotSettings.user
/RecipeShareWebApi.sln.DotSettings.user